body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ffffff;
    text-align: center;
    margin-top: 100px;
}

h1 {
    color: #242424;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #0044ff;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 10px;
}
